* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: rgb(237, 234, 234);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #b993bb;
}

.title {
    margin-left: 20px; /* Adjust margin as needed */
}

header h1 {
    margin: 0;
}

.main-content {
    padding: 20px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-menu li {
    margin-right: 130px; /* Adjust margin as needed */
}

.nav-menu a {
    color: #2c2c2c;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    text-decoration: none;
    transition: all .42s;
}

.nav-menu a:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.05);
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.circle {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon img {
    width: 60px; /* Adjust icon size as needed */
    height: auto;
}
.welcome {
    position: absolute;
    top: 25px; 
    right: 270px;
}

.productss {
    height: 300px;
    width: 200px;
    border: 1px solid rgb(164, 164, 164);
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
.prod{
    padding: 30px;
}
.productss:hover {
    box-shadow: 0 0 15px rgba(232, 95, 95, 0.7);
    transform: translateY(-5px);
}

.productss img {
    height: 200px;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}

.Featuredprod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1300px;
    padding: 20px;
}
